; PHP Upload Limits for WordPress Media Library
upload_max_filesize = ${php_upload_max_filesize}
post_max_size = ${php_post_max_size}
max_file_uploads = 20
max_execution_time = ${php_max_execution_time}
max_input_time = 300
memory_limit = ${php_memory_limit}
