# Database
DB_ROOT_PASSWORD=${db_root_password}
DB_NAME=${db_name}
DB_USER=${db_user}
DB_PASSWORD=${db_password}

# WordPress Table Prefix
WP_TABLE_PREFIX=${table_prefix}

# WordPress Keys
WP_AUTH_KEY=${wp_auth_key}
WP_SECURE_AUTH_KEY=${wp_secure_auth_key}
WP_LOGGED_IN_KEY=${wp_logged_in_key}
WP_NONCE_KEY=${wp_nonce_key}
WP_AUTH_SALT=${wp_auth_salt}
WP_SECURE_AUTH_SALT=${wp_secure_auth_salt}
WP_LOGGED_IN_SALT=${wp_logged_in_salt}
WP_NONCE_SALT=${wp_nonce_salt}
